.bk1{
    background-color: #e0eaf0;
}

.bk2{
    background-color:#040f2a;
}

.bk3{
    background-color: rgba(231, 216, 141, 0.87);
}

h2{
    color: rgb(235, 106, 106);
    text-decoration: double;
}

h3{
    color: black;
    text-decoration: dashed;
    font-style: italic; 
    font-size: large; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

a{
    color: sandybrown; 
    font-style: italic; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.back button{
    float: right;
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
}

